<p id="notice"><%= notice %></p>

<p>
  <strong>Orderer name:</strong>
  <%= @order.orderer_name %>
</p>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_menu_items.each do |item| %>
      <tr>
        <td><%= item.menu_item.name %></td>
        <td><%= number_to_currency(item.menu_item.price, precision: 2) %></td>
        <td><%= link_to 'Remove', delete_menu_item_path(order_id: @order.id, menu_item_id: item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><strong>Total: </strong> <%= @order.total %> </p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
